* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.content {
	width: 50%;
	margin: auto;
	
}
.row{
	display: flex;
	justify-content: space-evenly;
}

.asset {
	flex-basis: 100%;
	margin: 2vw;
}
.asset:hover {
	cursor: pointer;
}

.asset img {
	width: 100%;
	height: 20vh;
	object-fit: contain;
	padding: 2vw;
}